<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="css2/about.css">
</head>
<body>
  <div class="top-header">
    <div class="top-part">
      <div class="phone">
        <img src="../image/phone1.PNG" alt="">&nbsp;
        <span> Phone: +1(850) 12 34 56     </span>
    </div>
     <div class="email">
          <img src="../image/emai.PNG" alt="">&nbsp;
          <span> Email: info@domain.com</span>
     </div>
    </div>
    <div class="top-part">
      <div class="top-link">
        <a href="#">Twitter</a>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
      </div>
      <div class="top-login">
        <img src="../image/login1.PNG" alt="">
        <a href="">Login</a>/ <a href=""> Register</a>
      </div>
    </div>
  </div>
  <!--header start-->
    <header id="header">
      <div class="logo">
        <a href="#"> <img src="../image/logo2.PNG" alt=""></a>
      </div>
      <div class="navbar">
        <a href="../index.html">Home</a>
        <a href="">Menus</a>
        <div class="dropdown">
          <button class="dropbtn">Pages+</button>
          <div class="dropdown-content">
            <a href="#">About</a>
            <a href="contact.html">Contact Us</a>
            <a href="service.html">Our Services</a>
          </div>
        </div>
        <a href="">News</a>
        <a href="contact.html">Contact</a>
      </div>
      <div class="search">
        <a href="#"><img src="../image/search.PNG" alt=""></a>
        <a href="#"><img src="../image/save.PNG" alt=""></a>
      </div>
      <div class="header-btn">
        <div class="btn-outer">
          <div class="btn-in">
            <a href="">Reserve A Table</a>
          </div>
        </div>

      </div>

    </header>

      <div class="about-hero">
        <div class="about-hero-title">
          <h1>About Us</h1>
          <br>
          <div class="home-to-ab">
            <img src="../image/home.PNG" alt="" class="im"> <span>Home - About Us</span>
          </div>
        </div>

        <div class="hero-img">
          <img src="" alt="">
          <img src="" alt="">
        </div>
      </div>

      <section class="about-food">
        <div class="food-about">
          <div class="food-details">
            <h4>ABOUT THE FOOD RESTAURANT</h4>
            <h2>New Ground with Dishes to be<br> Enjoyed</h2>
          </div>
          <div class="food-details">
            <p>Nisl quam nestibulum ac quam nec odio eleme aucan ligula. Orci varius nat oque pena tibus et urient monte nascete rid iculus mus nellentesq um ac qu am nec odio rbine. Nisl quam nestibu aucan ligula.</p>
            <img src="../image/sachinkumar.jpg" alt="">
              <h3>Willimes James</h3>
              <p class="para">Director and Chief Operations Officer</p>
          </div>
        </div> 
        <div class="food-cord-body">
            <div class="food-cord">
              <img src="../image/Capture1.PNG" alt="">
              <div class="cord-inner-part">
                <div class="cord-btn">Restaurant</div>
              </div>
                  <div class="ovrlay">
                     
                        <h2>Restaurant</h2>
                        <br><br>
                        <p>Nisl quam nestibulum ac quam nec odio eleme aucan ligula. Orci varius nat oque pena tibus et urient monte nascete rid iculus mus nellentesq um ac qu am nec odio rbine. Nisl quam nestibu aucan ligula.</p>
                        <br><br>
                        <div class="overlay-btn">
                          <a href="#">Reserve a Table</a>
                        </div>
                  </div>
                 
            </div>
            <div class="food-cord cord-down">
                <img src="../image/Capture2.PNG" alt="">
                <div class="cord-inner-part">
                  <div class="cord-btn">Restaurant</div>
                </div>

                      <div class="ovrlay">
                        
                    <h2>Restaurant</h2>
                    <br><br>
                    <p>Nisl quam nestibulum ac quam nec odio eleme aucan ligula. Orci varius nat oque pena tibus et urient monte nascete rid iculus mus nellentesq um ac qu am nec odio rbine. Nisl quam nestibu aucan ligula.</p>
                    <br><br>
                    <div class="overlay-btn">
                      <a href="#">Reserve a Table</a>
                </div>
               </div>

            </div>
            <div class="food-cord">
              <img src="../image/Capture3.PNG" alt="">
              <div class="cord-inner-part">
                <div class="cord-btn">Restaurant</div>
              </div>

                  
              <div class="ovrlay">
                        
                <h2>Restaurant</h2>
                <br><br>
                <p>Nisl quam nestibulum ac quam nec odio eleme aucan ligula. Orci varius nat oque pena tibus et urient monte nascete rid iculus mus nellentesq um ac qu am nec odio rbine. Nisl quam nestibu aucan ligula.</p>
                <br><br>
                <div class="overlay-btn">
                  <a href="#">Reserve a Table</a>
            </div>
           </div>

            </div>
          </div>
 </section>

    <div class="sponsor">
      <h2>HIGHLI TRASUTAD SPONSOR</h2>
      <div class="sponsor-cord-outer">
        <div class="cord">
            <img src="../image/about-img1.PNG" alt="">
        </div>
        <div class="cord">
          <img src="../image/about-img2.PNG" alt="">
        </div>
        <div class="cord">
          <img src="../image/about-img3.PNG" alt="">
       </div>
        <div class="cord">
            <img src="../image/about-img4.PNG" alt="">
        </div>
        <div class="cord">
          <img src="../image/about-img5.PNG" alt="">
      </div>
      <div class="cord">
        <img src="../image/about-img6.PNG" alt="">
      </div>
      </div>
    </div>

    <div class="easy-order">
      <div class="how-to-work">
        <div class="how-to-work-content">
              <div class="easy-order-title">
                <p>EASY ORDER IN 3 STEPS</p>
                <h3>How We Work</h3>
              </div>
              <div class="easy-cord-outer">
                  <div class="easy-order-cord">
                    <img src="../image/easy1.PNG" alt="">
                    <h4>Explore Menu</h4>
                    <p>A range of powerful tool for veiw and quering and fitering your data </p>
                  </div>
                  <div class="easy-order-cord">
                    <img src="../image/easy2.PNG" alt="">
                    <h4>Explore Menu</h4>
                    <p>A range of powerful tool for veiw and quering and fitering your data </p>
                  </div>
                  <div class="easy-order-cord">
                    <img src="../image/easy3.PNG" alt="">
                    <h4>Explore Menu</h4>
                    <p>A range of powerful tool for veiw and quering and fitering your data </p>
                  </div>
                </div>    
        </div>
          <img src="../image/patron.jpg" alt="">
          <div class="easy-order-video">
            <img src="../image/video1.PNG" alt="">
           
          </div>
      </div>
    </div>

    <div class="restaurant-history">
      <h2 class="heading">Restaurant History</h2>
      <br><br><br><br>
        <div class="restaurant-inner">
          <div class="restaurant-cord">
              <div class="image-box">
                  <img src="../image/news-img1.PNG" alt="">
                  <div class="year-history">
                    <p style="font-size: 2rem;">1994</p>
                  </div>
              </div>
              <div class="content-box">
                  <h3>Begins Shop</h3>
                  <p>A range of powerful tool for veiw and quering and fitering your data 
                    veiw and quering and fitering 
                  </p>
              </div>
          </div>
          <div class="restaurant-cord">
            <div class="image-box">
              <img src="../image/news-img1.PNG" alt="">
              <div class="year-history">
                <p style="font-size: 2rem;">2010</p>
              </div>
          </div>
          <div class="content-box">
            <h3>Begins Shop</h3>
            <p>A range of powerful tool for veiw and quering and fitering your data 
              veiw and quering and fitering 
            </p>
        </div>
          </div>

          <div class="restaurant-cord">

            <div class="image-box">
              <img src="../image/news-img3.PNG" alt="">
              <div class="year-history">
                <p style="font-size: 2rem;">2016</p>
              </div>
          </div>
          <div class="content-box">
            <h3>Begins Shop</h3>
            <p>A range of powerful tool for veiw and quering and fitering your data 
              veiw and quering and fitering 
            </p>
        </div>
          </div>
          <div class="restaurant-cord">
            <div class="image-box">
              <img src="../image/news-img2.PNG" alt="">
              <div class="year-history">
                <p style="font-size: 2rem;">2023</p>
              </div>
          </div>
          <div class="content-box">
            <h3>Begins Shop</h3>
            <p>A range of powerful tool for veiw and quering and fitering your data 
              veiw and quering and fitering 
            </p>
        </div>
          </div>
          
        </div>
    </div>
    <div class="best-services">
        <div class="best-services-header">
          <h3>BEST SOLUTIONS <br> We Provide Waist Serviseces
          </h3>
          <p>A range of powerful tool for veiw and quering and fitering your data 
            veiw and quering and fitering
            A range of powerful tool for veiw and quering and fitering your data 
            veiw and quering and fitering 
          </p>
        </div>
        <br><br><br><br>
          <div class="best-services-inner">
            <div class="services-cord">
                <div class="services-icon">
                    <img src="../image/services1.PNG" alt="">
                </div>
                <div class="services-contents">
                  <h3>Afternoon Tea <br>
                    A range of powerful tool for veiw and quering and fitering your data
                  </h3>
                </div>
            </div>
            <div class="services-cord">
             
              <div class="services-icon">
                  <img src="../image/services2.PNG" alt="">
              </div>
              <div class="services-contents">
                <h3>Afternoon Tea <br>
                  A range of powerful tool for veiw and quering and fitering your data
                </h3>
              </div>
            </div>
            <div class="services-cord">
           
              <div class="services-icon">
                  <img src="../image/services3.PNG" alt="">
              </div>
              <div class="services-contents">
                <h3>Afternoon Tea <br>
                  A range of powerful tool for veiw and quering and fitering your data
                </h3>
              </div>
            </div>
            <div class="services-cord">
            
              <div class="services-icon">
                  <img src="../image/services4.PNG" alt="">
              </div>
              <div class="services-contents">
                <h3>Afternoon Tea <br>
                  A range of powerful tool for veiw and quering and fitering your data
                </h3>
              </div>
            </div>
          </div>
    </div>

    <section class="our-expert">
      <h2 class="heading">Meet Our Experts</h2>
      <div class="our-expert-body">
        <div class="our-expert-cord">
            <img src="../image/foodio-cheif1.png" alt=""> 

            <div class="our-expert-details">
                  <p>Master</p>
                  <h2>Sachin</h2>
                  <div class="icon">
                      <img src="../image/f.png" alt="">
                      <img src="../image/i.png" alt="">
                      <img src="../image/t.png" alt="">
                      
                  </div><br>
                  <img src="../image/foodio-cheif-sign.png" alt="">
            </div>
        </div>
        <div class="our-expert-cord">
          <img src="../image/foodio-cheif2.png" alt="">

          <div class="our-expert-details">
            <p>Master</p>
            <h2>Sachin</h2>
            <div class="icon">
                <img src="../image/f.png" alt="">
                <img src="../image/i.png" alt="">
                <img src="../image/t.png" alt="">
                
            </div><br>
            <img src="../image/foodio-cheif-sign.png" alt="">
          </div>
        </div>
        <div class="our-expert-cord">
          <img src="../image/foodio-cheif3.png" alt="">

          <div class="our-expert-details">
            <p>Master</p>
            <h2>Sachin</h2>
            <div class="icon">
                <img src="../image/f.png" alt="">
                <img src="../image/i.png" alt="">
                <img src="../image/t.png" alt="">
                
            </div><br>
            <img src="../image/foodio-cheif-sign.png" alt="">
          </div>
        </div>
      </div>

    </section>

    <section class="feadback">
      <h2>TESTIMONIALS &amp; REVIEWS <br>
        Our Customer Feedbacks</h2>
        <div class="feadback-cord-body">
          <div class="feadback-cord">
              <h3>A good restaurant is like a vacation; it transports you, and it becomes a lot more than just about the food. All great deeds and all great thoughts</h3>
              <div class="star">
                <h3>Bratlee Hamint</h3>
                <img src="../image/star.PNG" alt="">
              </div>
            
          </div>
          <div class="feadback-cord">
              <div class="feadback-cord-img">
                  <img src="../image/foodio-rbanner3.png" alt="">
              </div>
              <div class="feadback-cord-img">
                <img src="../image/foodio-rbanner2.png" alt="">
              </div>
              <div class="feadback-cord-img">
                <img src="../image/foodio-rbanner1.png" alt="">
              </div>
          </div>
        </div>
    </section>


    <footer id="footer">
      <div class="footer-logo-cord">
          <img src="../image/logo-white.png" alt=""><br><br>
            <p>Tuesday - Saturday: 12:00pm - 23:00pm</p>
            <a href="#">Closed on Sunday</a><br><br>
            <img src="../image/tripa.png" alt=""><br>
            <a href="#">5 star rated on TripAdvisor</a>
      </div>
      <div class="footer-link-cord">
          <h2>About</h2>
          <p> &gt;<a href="#">Special Dish</a></p>
            <p>&gt;<a href="#">Reservation</a></p>
            <p></p>&gt;<a href="#">Contact</a><p></p>
            <p> &gt;<a href="#">About</a></p>
              <p>&gt;<a href="#">FAQs</a></p>
      </div>
      <div class="footer-link-cord">
        <h2>About</h2>
        <p>&gt;<a href="#">Steaks</a></p>
        <p> &gt;<a href="#">Burgers</a></p>
        <p> &gt;<a href="#">Coctails</a></p>
        <p>&gt;<a href="#">Bar BBQ</a></p>
        <p>&gt;<a href="#">Desserts</a></p>
        <p>&gt;<a href="#">Reserve a Table</a></p>
        
      </div>
      <div class="Newsletter-cord">
          <h2>Newsletter</h2>
          <p>Get recent news and updates.</p><br>
          <input type="text" placeholder="Email">
            <br><br><br>
            <div class="footer-btn-outer">
              <div class="btn-link">
                <a href="">Subscribe</a>
              </div>
            </div>
      </div>
</footer>


<div class="b-footer">
  <div class="b-footer-container">
    <br>
    <p style="text-align: center;">Countery/region</p>
    <br><br>
      <div class="b-footer-content">
        <span>@2030,Foodio | Shopify Theme</span>
        <select name="" id="" style="width:200px; height: 30px;">
            <optgroup>
              <option>India(INR)</option>
              <option>India2</option>
              <option>India3</option>
            </optgroup>
        </select>
          <div class="b-footer-img">
              <img src="../image/Capture15.PNG" alt="">
          </div>
      </div>
  </div>  

</div>
    </body>
    </html>