<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="css2/contact.css">
  
</head>
<body>
  <div class="top-header">
    <div class="top-part">
      <div class="phone">
        <img src="../image/phone1.PNG" alt="">&nbsp;
        <span> Phone: +1(850) 12 34 56     </span>
    </div>
     <div class="email">
          <img src="../image/emai.PNG" alt="">&nbsp;
          <span> Email: info@domain.com</span>
     </div>
    </div>
    <div class="top-part">
      <div class="top-link">
        <a href="#">Twitter</a>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
      </div>
      <div class="top-login">
        <img src="../image/login1.PNG" alt="">
        <a href="">Login</a>/ <a href=""> Register</a>
      </div>
    </div>
  </div>
  <!--header start-->
    <header id="header">
      <div class="logo">
        <a href="#"> <img src="../image/logo2.PNG" alt=""></a>
      </div>
      <div class="navbar">
        <a href="../index.html">Home</a>
        <a href="">Menus</a>
        <div class="dropdown">
          <button class="dropbtn">Pages+</button>
          <div class="dropdown-content">
            <a href="about.html">About</a>
            <a href="#">Contact Us</a>
            <a href="service.html">Our Services</a>
          </div>
        </div>
        <a href="">News</a>
        <a href="contact.html">Contact</a>
      </div>
      <div class="search">
        <a href="#"><img src="../image/search.PNG" alt=""></a>
        <a href="#"><img src="../image/save.PNG" alt=""></a>
      </div>
      <div class="header-btn">
        <div class="btn-outer">
          <div class="btn-in">
            <a href="">Reserve A Table</a>
          </div>
        </div>

      </div>
    </header>

    <div class="about-hero">
      <div class="about-hero-title">
        <h1>Contact Us</h1>
        <br>
        <div class="home-to-ab">
          <img src="../image/home.PNG" alt="" class="im"><span style="font-size:bolder ;"> Home  -  Contaict Us</span>
        </div>
      </div>

      <div class="hero-img">
        <img src="" alt="">
        <img src="" alt="">
      </div>
    </div>

    <div class="contect-section">
      <div class="location">
        <h2>Get In Touch</h2>
          <div class="important-contaict">
              <div class="contact-cord">
                <img src="../image/phone2.PNG" alt="">
                <p style="color: #f3274c; font-size: .9rem;">For Booking</p>
                <p style=" font-size: 1.4rem;">122 455 5652</p>
              </div>
              <div class="contact-cord">
                <img src="../image/emai2.PNG" alt="">
                <p style="color: #f3274c; font-size: .9rem;">For Privet Dininig</p>
                <p style=" font-size: 1.4rem;">ssaa46510@gmail.com</p>
              </div>
          </div><br><br>

          <div class="map-location">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3562.554565248531!2d82.2000129746219!3d26.758587066698592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399a07d8eb5fd27f%3A0xcfbbc5e4bb9f9b2d!2sTechsima%20Solution%20Private%20Limited!5e0!3m2!1sen!2sin!4v1700563994911!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <br>
          <p>techsima solution pvt ltd ,naka ayodhya</p>
          <p>techsima solution pvt ltd ,darshan nagar ayodhya</p>
      </div>
      <div class="contaict">
        <h2>Have Question ?</h2>
        <p>A range of powerful tool for veiw and quering and fitering your data 
          veiw and quering and fitering 
        </p>
        <br><br>
        <form action= "">
            <input type="text" placeholder="name." class="input"> 
            <input type="text" placeholder="Email" class="input"><br><br>
            <input type="text" placeholder="Phone number.."><br><br>
            <textarea placeholder="Enter...."></textarea>
          <br><br>
            <div class="header-btn">
              <div class="btn-outer">
                <div class="btn-in as ">
                  <a href="">Sand Massage</a>
                </div>
              </div>
      
            </div>
          
          </form>
         
       </div>
      

       
     </div>
    

    <div class="video-section">
      <div class="video-cord">
        <video src="" poster="../image/poster.jpg" class="video"></video>
      </div>
      <div class="timing-cord">
          <div class="timing-content">
            <h3>Monday - Friday</h3>
            <h4>12pm- 11pm</h4>
            <h6>Opene All Day</h6>
          </div>

          <div class="timing-content">
            <h3>Saturday</h3>
            <h4>12pm- 11pm</h4>
            <h6>Opene All Day</h6>
          </div>

          <div class="timing-content">
            <h3>Sunday</h3>
            <h4>12pm- 11pm</h4>
            <h6>Opene All Day</h6>
          </div>
      </div>
    </div> 

<br><br><br><br><br><br><br><br>
    <footer id="footer">
      <div class="footer-logo-cord">
          <img src="../image/logo-white.png" alt=""><br><br>
            <p>Tuesday - Saturday: 12:00pm - 23:00pm</p>
            <a href="#">Closed on Sunday</a><br><br>
            <img src="../image/tripa.png" alt=""><br>
            <a href="#">5 star rated on TripAdvisor</a>
      </div>
      <div class="footer-link-cord">
          <h2>About</h2>
          <p> &gt;<a href="#">Special Dish</a></p>
            <p>&gt;<a href="#">Reservation</a></p>
            <p></p>&gt;<a href="#">Contact</a><p></p>
            <p> &gt;<a href="#">About</a></p>
              <p>&gt;<a href="#">FAQs</a></p>
      </div>
      <div class="footer-link-cord">
        <h2>About</h2>
        <p>&gt;<a href="#">Steaks</a></p>
        <p> &gt;<a href="#">Burgers</a></p>
        <p> &gt;<a href="#">Coctails</a></p>
        <p>&gt;<a href="#">Bar BBQ</a></p>
        <p>&gt;<a href="#">Desserts</a></p>
        <p>&gt;<a href="#">Reserve a Table</a></p>
        
      </div>
      <div class="Newsletter-cord">
          <h2>Newsletter</h2>
          <p>Get recent news and updates.</p><br>
          <input type="text" placeholder="Email">
            <br><br><br>
            <div class="footer-btn-outer">
              <div class="btn-link">
                <a href="">Subscribe</a>
              </div>
            </div>
      </div>
</footer>


<div class="b-footer">
  <div class="b-footer-container">
    <br>
    <p style="text-align: center;">Countery/region</p>
    <br><br>
      <div class="b-footer-content">
        <span>@2030,Foodio | Shopify Theme</span>
        <select name="" id="" style="width:200px; height: 30px;">
            <optgroup>
              <option>India(INR)</option>
              <option>India2</option>
              <option>India3</option>
            </optgroup>
        </select>
          <div class="b-footer-img">
              <img src="../image/Capture15.PNG" alt="">
          </div>
      </div>
  </div>  

</div>
  </body>
  </html>