<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Service</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="css2/services.css">
</head>
<body>
  <div class="top-header">
    <div class="top-part">
      <div class="phone">
        <img src="../image/phone1.PNG" alt="">&nbsp;
        <span> Phone: +1(850) 12 34 56     </span>
    </div>
     <div class="email">
          <img src="../image/emai.PNG" alt="">&nbsp;
          <span> Email: info@domain.com</span>
     </div>
    </div>
    <div class="top-part">
      <div class="top-link">
        <a href="#">Twitter</a>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
      </div>
      <div class="top-login">
        <img src="../image/login1.PNG" alt="">
        <a href="">Login</a>/ <a href=""> Register</a>
      </div>
    </div>
  </div>
  <!--header start-->
    <header id="header">
      <div class="logo">
        <a href="#"> <img src="../image/logo2.PNG" alt=""></a>
      </div>
      <div class="navbar">
        <a href="../index.html">Home</a>
        <a href="">Menus</a>
        <div class="dropdown">
          <button class="dropbtn">Pages+</button>
          <div class="dropdown-content">
            <a href="about.html">About</a>
            <a href="contact.html">Contact Us</a>
            <a href=" ">Our Services</a>
          </div>
        </div>
        <a href="">News</a>
        <a href="contact.html">Contact</a>
      </div>
      <div class="search">
        <a href="#"><img src="../image/search.PNG" alt=""></a>
        <a href="#"><img src="../image/save.PNG" alt=""></a>
      </div>
      <div class="header-btn">
        <div class="btn-outer">
          <div class="btn-in">
            <a href="">Reserve A Table</a>
          </div>
        </div>

      </div>

    </header>

    <div class="about-hero">
      <div class="about-hero-title">
        <h1>Services</h1>
        <br>
        <div class="home-to-ab">
          <img src="../image/home.PNG" alt="" class="im">  <span>Home - Services</span>
        </div>
      </div>
    </div>



    <div class="Parties">
      <div class="parties_cord">
         <img src="../image/pata.png" alt="">
         <div class="parties_cord_img">
            <img src="../image/parties-events.jpg" alt="">
         </div>

         <div class="parties_cord_img2">
          <img src="../image/foodio-rbanner3.png" alt="">
       </div>
      </div>
      <div class="parties_content">
        <h2>Parties, events and <br> special occasions</h2>
        <p>Nisl quam nestibulum ac quam nec odio elementu sceisue the aucan ligula. Orci varius natoque pena tibus et magnis dis parturient monte nascete ridiculus mus nellentesque habitant moum ac quam nec odio rbine.</p>
        
        <h4><img src="../image/check.PNG" alt="">Quality foods natural gradient</h4>

        <h4><img src="../image/check.PNG" alt="">Quality foods natural gradient</h4>

        <h4><img src="../image/check.PNG" alt="">Quality foods natural gradient</h4>

        <h4><img src="../image/check.PNG" alt="">Quality foods natural gradient</h4>
        
      </div>

      
      </div>

      <div class="table">
        <div class="table-text">
        <span>Seated (six tables)</span>
        <h2>20</h2>
        </div>

        <div class="table-text">
          <span>Seated (one table)</span>
          <h2>40</h2>
          </div>

          <div class="table-text">
            <span>Standing</span>
            <h2>80</h2>
            </div>

            <div class="table-text">
              <span>Menus to choose from</span>
              <h2>11</h2>
              </div>
    </div>


    <section class="manage-section">
      <h2 style="width: 600px;">BEST APP FOR FOODS ORDERING<br>
        Manage Your Restaurant Anytime! Anywhere!</h2>
        <div class="manage-cord-body">
            <div class="manage-details">
                <ul type="circle">
                    <li>Highre Reach-minimal effort</li>
                    <li>Highre Reach-minimal effort</li>
                    <li>Highre Reach-minimal effort</li>
                </ul><br><br>
                <a href=""><img src="../image/foodio-appstore.png" alt=""></a>
                <a href=""><img src="../image/foodio-gooplay.png" alt=""></a>
            </div>
            
                <div class="manage-img">
                    <img src="../image/manage-your.png" alt="">
                </div>
                
        </div>

    </section>
      <div class="gallery">
        <br><br>
        <h2 class="heading">Photos Gallery</h2>
        <br><br><br><br><br> 

            <div class="gallery-inner">

              <div class="gallery-cord">
                <img src="../image/photo-gallery-8.jpg" alt="">
                <div class="over"></div>
              </div> 
              
              <div class="gallery-cord">
                <img src="../image/photo-gallery-9.jpg" alt="">
                <div class="over"></div>
              </div> 

              <div class="gallery-cord">
                <img src="../image/photo-gallery-10.jpg" alt="">
                <div class="over"></div>
              </div> 

              <div class="gallery-cord">  
                <img src="../image/photo-gallery-12.jpg" alt="">
                <div class="over"></div>
              </div>  

              <div class="gallery-cord">  
                <img src="../image/reserve-a-table.jpg" alt="">
                <div class="over"></div>
              </div> 

              <div class="gallery-cord">  
                <img src="../image/foodio-rbanner3.png" alt="">
                <div class="over"></div>

              </div>     
      </div>
     </div> 
    <br><br>
    <div class="form-set">
      <div class="Discover-form" style="width: 90%;">
        <div class="reserve-content">
            <h2>RESERVE A TABLE</h2>
            <p>Discover our New Menu!</p>
        </div>
        <form action="" class="form">
          <input type="text" placeholder="Name.." class="input">
          <input type="date" placeholder="date" class="time">
          <input type="time" placeholder="time" class="time">
          <br><br>
          <input type="text" placeholder="Name.." class="input">
          <input type="text" placeholder="Name.." class="input">
          <div class="form-btn">
            <div class="btn-prents">
              <div class="btn-part">
                <button>Reserve A Table</button>
              </div>
            </div>
          </div>
        </form>
        
    </div>
    </div>

    <footer id="footer">
      <div class="footer-logo-cord">
          <img src="../image/logo-white.png" alt="" ><br><br>
            <p>Tuesday - Saturday: 12:00pm - 23:00pm</p>
            <a href="#">Closed on Sunday</a><br><br>
            <img src="../image/tripa.png" alt=""><br>
            <a href="#">5 star rated on TripAdvisor</a>
      </div>
      <div class="footer-link-cord">
          <h2>About</h2>
          <p> ><a href="#">Special Dish</a></p>
            <p>><a href="#">Reservation</a></p>
            <p></p>><a href="#">Contact</a></p>
            <p> ><a href="#">About</a></p>
              <p>><a href="#">FAQs</a></p>
      </div>
      <div class="footer-link-cord">
        <h2>About</h2>
        <p>><a href="#">Steaks</a></p>
        <p> ><a href="#">Burgers</a></p>
        <p> ><a href="#">Coctails</a></p>
        <p>><a href="#">Bar BBQ</a></p>
        <p>><a href="#">Desserts</a></p>
        <p>><a href="#">Reserve a Table</a></p>
        
      </div>
      <div class="Newsletter-cord">
          <h2>Newsletter</h2>
          <p>Get recent news and updates.</p><br>
          <input type="text" placeholder="Email">
            <br><br><br>
            <div class="footer-btn-outer">
              <div class="btn-link">
                <a href="">Subscribe</a>
              </div>
            </div>
      </div>

</footer>

<div class="b-footer">
  <div class="b-footer-container">
    <br>
    <p style="text-align: center;">Countery/region</p>
    <br><br>
      <div class="b-footer-content">
        <span>@2030,Foodio | Shopify Theme</span>
        <select name="" id="" style="width:200px; height: 30px;">
            <optgroup>
              <option >India(INR)</option>
              <option >India2</option>
              <option >India3</option>
            </optgroup>
        </select>
          <div class="b-footer-img">
              <img src="../image/Capture15.PNG" alt="">
          </div>
      </div>
  </div>  

</div>
  </body>
  </html>